<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Weather App</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>
  <body>
    <div class="app-wrap">
      <header>
        <form method="POST">
          <input
            type="text"
            autocomplete="off"
            class="search-box"
            name="city_name"
            placeholder="Search for a city..."
          />
          <!-- <input type="submit" value="Search"> -->
        </form>
      </header>
      <main>
        <section class="location">
          <div class="city" style="display: flex; justify-content: center; align-items: center; gap: 5px;">
            {{ city_name }}
            <span>
              {% if weather_data %}
                {% if weather_data.weather[0].icon %}
                  <img
                    src="http://openweathermap.org/img/wn/{{ weather_data.weather[0].icon }}.png"
                    alt="Weather Icon"
                  />
                {% endif %}
              {% endif %}
            </span>
          </div>
          <div class="date">{{ current_date }}</div>
        </section>
        {% if error %}
        <div class="error">
          {{ error }}
        </div>
        {% elif weather_data %}
        <div class="current">
          <div class="temp">{{ weather_data.main.temp }}<span>°c</span></div>
          <div class="weather">{{ weather_data.weather[0].description }}</div>
          <div class="hi-low">
            {{ weather_data.main.temp_min }}°c / {{ weather_data.main.temp_max }}°c
          </div>
        </div>
        {% endif %}
      </main>
    </div>
  </body>
</html>
